# Iterating through a range
- for loop
- Syntax : key word called for

In [30]:
r = list(range(5,15))

In [31]:
for i in r:
    print(i)

5
6
7
8
9
10
11
12
13
14

In [32]:
companies=["amezon","flipkart","snapdeal"]

In [33]:
for website in companies:
    print("www."+website+".com")

www.amezon.com
www.flipkart.com
www.snapdeal.com

In [34]:
website_list=[]
for websites in companies:
    web="www."+ website+".com"
    website_list.append(web)

In [35]:
website_list

['www.snapdeal.com', 'www.snapdeal.com', 'www.snapdeal.com']

In [36]:
r=range(1,10)

In [37]:
sqs=[]
for i in r:
    sqs.append(i*i)

In [38]:
sqs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
sqs=[i*i for i in range(1,10)]
sqs

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# For Loop
for number in range(5,10): # Print numbers from 5 to 9. Default increment is 1.
  print(number)

5
6
7
8
9

In [41]:
# print numbers 1 to 10


for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

# Q1. print all even numbers from 1 to 20
# Q2. print all odd numbers from 1 to 20

In [42]:
for i in range(2,20,2): #EVen
    print(i)

2
4
6
8
10
12
14
16
18

In [43]:
for i in range(1,20,2): #Odd
    print(i)

1
3
5
7
9
11
13
15
17
19

In [44]:
for num in range(11): # 0 to 9 
  print(num, num*num) # num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [45]:
vk= {"name":"virat","age":32,"team":"RCB"}

In [46]:
vk.keys()

dict_keys(['name', 'age', 'team'])

In [47]:
vk.values()

dict_values(['virat', 32, 'RCB'])

In [48]:
for i in vk:
    print(i)

name
age
team

In [49]:
for i ,j in vk.items():
    print(i,j)

name virat
age 32
team RCB

In [50]:
for i in vk.values():
    print(i)

virat
32
RCB

In [51]:
for i in range(1,11):
    print(i)
    if i==5:
        break

1
2
3
4
5

In [52]:
for i in range(1,11):
    pass

In [53]:
#user has to use some input
#reverse the input
#input=123 , output=321

In [59]:
nums= input("Enter a value:")
nums= nums[::-1]
print("reversed number is",nums)

Enter a value:123
reversed number is 321

In [61]:
#get sum of element in a list use for loop
nums=[1,2,3]
#result=6

In [62]:
res=0
for i in nums:
    res += i
print(res)

6

In [71]:
res=0
for i in nums:
    res = res+i
print(res)

6

In [72]:
num = 1234
rev=0
while num !=0:
    dig=num%10
    rev= rev*10 + dig
    num//=10
print("rev num:"+str(rev))

rev num:4321

In [73]:
100//9 #ignore floating point

11

In [74]:
nums=[1,2,3,4,5,6,7]

In [75]:
for i in nums:
    print(i)

1
2
3
4
5
6
7